#aa{width: 100%;}
.news
{
    column-count: 4;
    column-gap: 15px;
    column-rule: 7px double aqua;
    text-align: justify;
}
.i1
{
    width: 800px;
    height: auto;
    background-color:red ;
    border: 2px solid salmon;
    padding: 5px;
    border-top-left-radius: 50PX;
    border-bottom-right-radius: 50PX;
}
.i2
{
    width: 300px;
    height: 400;
    border-radius: 3px;
    padding: 10px;
    border: 1px solid;
}
.i3
{
    opacity:0.7;
    max-width: 100%;
    height: auto;
}
