.b3
{
    width: 300px;
    height: 300px;
    background-color: hotpink;
    border: 3px solid salmon;
    margin: 100px;
    box-shadow: 10px 10px 15px salmon;
    border-radius: 50%;
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: 5;
    animation-timing-function: ease;
    animation-direction:alternate;
}
@keyframes example
{
    0%{background-color: orangered;
    border: 3px solid lightsalmon;
    border-radius: 50%;
    top:300px;
    }
    20%{background-color: rgb(123, 255, 0);
    border: 3px solid lightsalmon;
    top:430px;
border-radius: 25%;}
    40%{background-color: rgb(0, 255, 234);
    border: 3px solid lightsalmon;
    top:460px;
border-radius: 50%;}
    60%{background-color: rgb(68, 0, 255);
    border: 3px solid lightsalmon;
    top:500px;
border-radius: 80%;}
    80%{background-color: violet;
    border: 3px solid lightsalmon;
    top:600px;
border-radius: 70%;}
    100%{
        background-color: rgb(7, 0, 0);
    border: 3px solid salmon;
    top:700px;
    border-radius: 50%;
    }
}