.c
{
    margin: 20px;
    padding: 30px;
    background-color: aquamarine;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows:auto;
    gap: 10px;
}
.t
{
    background-color: cornflowerblue;
    text-align: center;
    font-size: 20px;
    padding: 20px;
    border-radius: 30px;
}